@model AutoSeller.ViewModel.AboutViewForm

@{
    ViewBag.Title = "AboutAdmin";
}
<h2>@ViewBag.Title</h2>
<h3 style="color: midnightblue; font-family: cursive;">@ViewBag.Message</h3>


<div class="container row title-section">
    <div class="col-sm-10 title-text">
        <pre style="color:midnightblue;font-family:cursive;font-size:200%; background-color: #ffffff; border: 0px">@AutoSeller.ViewModel.AboutViewForm.AboutText
        </pre>
    </div>
    <div class="col-sm-1">
        @Html.ActionLink("Edit", "EditAbout", "Home", null, new { @class = "btn btn-primary" })
    </div>
</div>

